*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:#f5f5f5;

}

header{

    background:#b30000;

    color:white;

    padding:30px;

    text-align:center;

}

nav{

    background:#202020;

    display:flex;

    justify-content:center;

}

nav a{

    color:white;

    text-decoration:none;

    padding:20px;

}

nav a:hover{

    background:#ffb300;

    color:black;

}

.banner{

    height:400px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

}

.banner h2{

    font-size:45px;

}

.banner p{

    margin:20px;

    font-size:20px;

}

button{

    background:#b30000;

    color:white;

    border:none;

    padding:15px 30px;

    border-radius:8px;

    cursor:pointer;

    font-size:18px;

}

button:hover{

    background:#ff9900;

}

.produtos{

    padding:50px;

    text-align:center;

}

.produtos h2{

    margin-bottom:40px;

}

.cards{

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

}

.card{

    background:white;

    width:280px;

    padding:25px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.2);

    transition:.3s;

}

.card:hover{

    transform:translateY(-10px);

}

.card h3{

    margin-bottom:15px;

}

.card p{

    margin-bottom:20px;

}

.card span{

    display:block;

    font-size:22px;

    font-weight:bold;

    color:#b30000;

    margin-bottom:20px;

}

footer{

    margin-top:60px;

    background:#202020;

    color:white;

    text-align:center;

    padding:20px;

}

.card img{

    width:100%;

    height:180px;

    object-fit:cover;

    border-radius:10px;

    margin-bottom:15px;

}

.pedido{

    text-align:center;

    padding:80px;

}

.pedido h1{

    color:#0a8f3d;

    margin-bottom:20px;

}

.pedido p{

    font-size:20px;

    margin-bottom:30px;

}

.container-carrinho{

    width:90%;

    max-width:1100px;

    margin:50px auto;

    border:4px solid #111;

    padding:30px;

    background:white;

}

.container-carrinho h1{

    text-align:Center;

    margin-bottom:30px;

}

.tabela-carrinho{

    width:100%;

    border-collapse:collapse;

}

.tabela-carrinho th{

    padding:15px;

    border-bottom:2px solid #ccc;

    text-align:Center;

}

.tabela-carrinho td{

    padding:15px;

    text-align:Center;

    border-bottom:1px solid #ddd;

}

.tabela-carrinho a{

    text-decoration:none;

    font-size:20px;

}

.rodape-carrinho{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-top:30px;

}

.rodape-carrinho button{

    background:#b30000;

    color:white;

    border:none;

    padding:15px 30px;

    border-radius:8px;

    cursor:pointer;

}

.rodape-carrinho button:hover{

    background:#ff9900;

}

.tabela-carrinho td:first-child{

    white-space: nowrap;

    width: 180px;

    font-weight: bold;
    

}

.tabela-carrinho td:nth-child(2){

    text-align: justify;

    width: 500px;

    padding: 15px 20px;

}

.tabela-carrinho th:nth-child(1){

    width: 180px;


}

.tabela-carrinho th:nth-child(2){

    width: 550px;

}

.tabela-carrinho th:nth-child(3){

    width: 120px;

}

.tabela-carrinho th:nth-child(4){

    width: 120px;

}

.img-carrinho{

    width:90px;

    height:90px;

    object-fit:cover;

    border-radius:10px;

    border:1px solid #ddd;

}

.tabela-carrinho td{

    vertical-align:middle;

}

.tabela-carrinho td:nth-child(2){

    text-align:center;

    font-weight:bold;

}

.tabela-carrinho td:nth-child(3),
.tabela-carrinho td:nth-child(4),
.tabela-carrinho td:nth-child(5),
.tabela-carrinho td:nth-child(6){

    text-align:center;

}