{% extends "base.html" %}

{% block conteudo %}

<div class="container-pedidos">

    <h1>📦 Pedidos</h1>

    <table class="tabela-pedidos">

        <thead>

            <tr>

                <th>ID</th>
                <th>Cliente</th>
                <th>Telefone</th>
                <th>Total</th>
                <th>Status</th>
                <th>Ações</th>

            </tr>

        </thead>

        <tbody>

            {% for pedido in pedidos %}

            <tr>

                <td>#{{ pedido.id }}</td>

                <td>{{ pedido.cliente }}</td>

                <td>{{ pedido.telefone }}</td>

                <td>
                    <strong>
                        R$ {{ "%.2f"|format(pedido.total) }}
                    </strong>
                </td>

                <td>

                    {% if pedido.status == "Recebido" %}
                        <span class="badge recebido">🟡 {{ pedido.status }}</span>

                    {% elif pedido.status == "Em preparo" %}
                        <span class="badge preparo">🟠 {{ pedido.status }}</span>

                    {% elif pedido.status == "Saiu para entrega" %}
                        <span class="badge entrega">🔵 {{ pedido.status }}</span>

                    {% elif pedido.status == "Entregue" %}
                        <span class="badge entregue">🟢 {{ pedido.status }}</span>

                    {% else %}
                        {{ pedido.status }}
                    {% endif %}

                </td>

                <td>

                    <a class="btn-ver"
                       href="{{ url_for('pedidos.visualizar_pedido', id_pedido=pedido.id) }}">

                        Ver Pedido

                    </a>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}