    {% extends "base.html" %}

{% block conteudo %}

<div class="container-admin">

    <h1>Painel Administrativo</h1>

<div class="cards-dashboard">

    <div class="card-dashboard">

        <h3>📦 Pedidos</h3>

        <span>{{ dashboard.pedidos }}</span>

    </div>

    <div class="card-dashboard">

        <h3>💰 Faturamento</h3>

        <span>

            R$ {{ "%.2f"|format(dashboard.faturamento) }}

        </span>

    </div>

    <div class="card-dashboard">

        <h3>🍔 Produtos</h3>

        <span>{{ dashboard.produtos }}</span>

    </div>

    <div class="card-dashboard">

        <h3>👥 Clientes</h3>

        <span>{{ dashboard.clientes }}</span>

    </div>

</div>


    <a class="btn-novo" href="{{ url_for('admin.novo_produto') }}">
       + Novo Produto
    </a>

<form method="GET" class="pesquisa">

    <input
        type="text"
        name="pesquisa"
        placeholder="Pesquisar produto..."
        value="{{ pesquisa }}">

    <button type="submit">

        🔍 Buscar

    </button>

</form>

    <table class="tabela-admin">

        <thead>

            <tr>

                <th>ID</th>
                <th>Produto</th>
                <th>Preço</th>
                <th>Ações</th>

            </tr>

        </thead>

        <tbody>

        {% for produto in produtos %}

            <tr>

                <td>{{ produto.id }}</td>

                <td>{{ produto.nome }}</td>

                <td>R$ {{ "%.2f"|format(produto.preco) }}</td>

                <td>

                    <a href="{{ url_for('admin.editar_produto', id_produto=produto.id) }}">
                        <button>Editar</button>
                    </a>

                    <a href="{{ url_for('admin.excluir', id_produto=produto.id) }}"
                       onclick="return confirm('Deseja realmente excluir este produto?')">

                         <button class="btn-excluir">
                             Excluir
                         </button>

                    </a>

                </td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}