<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <title>Fabuloso Hot Dog</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>

    <h1>🌭 Fabuloso Hot Dog</h1>

    <p>Os melhores hot dogs da cidade!</p>

</header>

<nav>

    <a href="{{ url_for('loja.inicio') }}">Home</a>
    <a href="#">Cardápio</a>
    <a href="#">Sobre</a>
    <a href="#">Contato</a>

    <a href="{{ url_for('carrinho') }}">🛒 Carrinho</a>

    {% if "admin" in session %}

        <a href="{{ url_for('admin') }}">Painel</a>

        <a href="{{ url_for('logout') }}">Sair</a>

        <span class="usuario">
            👤 {{ session["admin"] }}
        </span>

    {% else %}

        <a href="{{ url_for('login') }}">Login</a>

    {% endif %}

</nav>

{% with mensagens = get_flashed_messages() %}

    {% if mensagens %}

        {% for mensagem in mensagens %}

            <div class="flash">
                {{ mensagem }}
            </div>

        {% endfor %}

    {% endif %}

{% endwith %}

{% block conteudo %}
{% endblock %}

<footer>

    <p>© 2026 Fabuloso Hot Dog</p>

</footer>

</body>

</html>