<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <title> Hot Dog Lanchonete </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>

    <h1>LanchoneteWeb</h1>

    <p>Os melhores hot dogs da cidade!</p>

</header>

<nav>

    <a href="{{ url_for('loja.inicio') }}">Home</a>
    <a href="{{ url_for('paginas.cardapio') }}">Cardápio</a>
    <a href="{{ url_for('loja.carrinho') }}">Carrinho</a>

    {% if "admin" in session or "cliente" in session %}

        <a href="{{ url_for('admin.painel') }}">Painel</a>
        <a href="{{ url_for('pedidos.listar_pedidos') }}">Pedidos</a>
        <a href="{{ url_for('auth.logout') }}">Sair</a>

        <span class="usuario">
            {{ session["nome"] }}
        </span>

    {% else %}

        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('clientes.cadastro') }}">Criar Conta</a>

    {% endif %}

</nav>

{% with mensagens = get_flashed_messages() %}

    {% if mensagens %}

        {% for mensagem in mensagens %}

            <div class="flash">
                {{ mensagem }}
            </div>

        {% endfor %}

    {% endif %}

{% endwith %}

{% block conteudo %}
{% endblock %}

<footer>

    <p>© 2026 LanchoneteWeb</p>

</footer>

</body>

</html>