{% extends "base.html" %}

{% block conteudo %}

<h2>Meu Carrinho</h2>

{% for item in itens_carrinho %}

<div class="card">

    <img src="{{ url_for('static', filename='img/' + item.produto.imagem) }}">

    <h3>{{ item.produto.nome }}</h3>

    <p>{{ item.produto.descricao }}</p>

    <p>Quantidade: {{ item.quantidade }}</p>

    <p>Preço Unitário: R$ {{ "%.2f"|format(item.produto.preco) }}</p>

    <p>Subtotal: R$ {{ "%.2f"|format(item.subtotal) }}</p>

    <a href="{{ url_for('remover', id_produto=item.produto.id) }}">
    <button>Remover</button>
</a>

</div>

{% endfor %}

<h2>Total: R$ {{ "%.2f"|format(total) }}</h2>

<a href="{{ url_for('finalizar') }}">

    <button>

        Finalizar Pedido

    </button>

</a>

{% if not itens_carrinho %}

    <p>Seu carrinho está vazio.</p>

{% endif %}

{% endblock %}