{% extends "base.html" %}

{% block conteudo %}

<section class="banner">

    <h2>Bem-vindo!</h2>

    <p>Venha experimentar nossos hambúrgueres artesanais.</p>

    <button>Ver Cardápio</button>

</section>


<section class="produtos">

    <h2>Nosso Cardápio</h2>

    <div class="cards">

        {% for produto in produtos %}

        <div class="card">

             <img src="{{ url_for('static', filename='img/' + produto.imagem) }}">

             <h3>{{ produto.nome }}</h3>

             <p>{{ produto.descricao }}</p>

             <span>
                 R$ {{ "%.2f"|format(produto.preco) }}
             </span>

             <a href="{{ url_for('adicionar', id_produto=produto.id) }}">
                 <button>Adicionar</button>
             </a>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}