{% extends "base.html" %}

{% block conteudo %}

<div class="container-form">

    <h1>Cadastrar Administrador</h1>

    <form method="POST">

        <label>Nome</label>

        <input
            type="text"
            name="nome"
            required>

        <label>E-mail</label>

        <input
            type="email"
            name="email"
            required>

        <label>Senha</label>

        <input
            type="password"
            name="senha"
            required>

        <label>Confirmar Senha</label>

        <input
            type="password"
            name="confirmar"
            required>

         {% if erro %}

        <div class="erro">
            
            {{ erro }}

        </div>

        {% endif %}

        <button>

            Cadastrar

        </button>

    </form>

</div>

{% endblock %}